Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
examples/.libs/
examples/Makefile
examples/Makefile.in
examples/example_test
examples/example_test-example_test.o
install-sh
libtool
ltmain.sh
missing
src/.libs/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/libstf.la
src/libstf_la-stf.lo
src/libstf_la-stf.o
src/stamp-h1